{% extends "basic/header.html" %}

{% block title_extra %}
  {% load question_info %}
  {% get_question_qtext_from_qid q_id %}
{% endblock %}

{% block head_extra %}
  {{form.media}}
{% endblock %}

{% block content %}

{% load question_info %}
<h3>{% get_question_qtext_from_qid q_id %}</h3>

<form class="form-signin" action="/qa/add_ans/{{q_id}}" method="post">{% csrf_token %}
    <h2 class="form-signin-heading text-primary">Add a new Answer</h2>
  <label for="inputAnswer" class="sr-only">Answer</label>
  {{form.ans_text}}
  <label for="anonymous" class="sr-only">Anonimity</label>
  Go anonymous-> {{form.anonymous}}
  <br />
  <button class="btn btn-lg btn-primary btn-block" type="submit">Add</button>
</form>
{% endblock %}
