{% extends "basic/header.html" %}

{% block content %}
  <div class="container col-xs-10">
    <h2>Questions</h2>
    <div class = "list-group">
      {% if questions %}
        {% for question in questions %}
        <a class="list-group-item" href="/qa/{{question.id}}">
          {{question.q_text}} <span class="badge">{{question.ans_count}}</span>
        </a>
        {% endfor %}
      {% else %}
      <a class="list-group-item" href="#">
        Nothing matches query <span class="badge"></span>
      </a>
      {% endif %}
    </div>
  </div>
  <hr />
  <div class="container col-xs-10">
    <h2>Blogs</h2>
    <div class = "list-group">
      {% if posts %}
        {% for post in posts %}
        <a class="list-group-item" href="/blog/{{post.id}}" id="search-results">
          {{post.title}} | {{ post.date|date:"d-m-Y" }}<span class="badge">{{post.likes}}</span>
        </a>
        {% endfor %}
      {% else %}
      <a class="list-group-item" href="#">
        Nothing matches query <span class="badge"></span>
      </a>
      {% endif %}
    </div>
  </div>
  <hr />
  <div class="container col-xs-10">
    <h2>People</h2>
    {% if profiles %}
      <div class = "list-group">
        {% for profile in profiles %}
        <a class="list-group-item" href="/profile/{{profile.id}}" id="search-results">
          {{ profile.first_name}} {{ profile.last_name}} <small>aka</small> {{profile.username}}
        </a>
        {% endfor %}
    {% else %}
      <a class="list-group-item" href="#">
        Nothing matches query <span class="badge"></span>
      </a>
    {% endif %}
    </div>
  </div>
{% endblock %}
